.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  grid-gap: 1rem;
  padding: 2rem 0;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem;
}

.profile .name {
  margin: 1rem 0 0.5rem 0;
}

img {
  border-radius: 50%;
  height: 17rem;
  width: 17rem;
}

.intro {
  width: 100%;
  padding: 0 3rem;
  line-height: 1.5rem;
  border-left: 1px solid #3b3b98;
  text-align: center;
}

.salut {
}

.hobbies {
  margin: 1rem 0;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
  line-height: 1.5rem;
}

.social-icons {
  margin: 1rem 0;
}

.social-icons a {
  margin: 0 0.2rem;
}
