nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li {
  margin: 0 1rem;
}

a {
  text-decoration: none;
}
