nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

nav img {
  height: 30px;
  width: 30px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav li {
  margin: 0 1rem;
}

a {
  text-decoration: none;
  color: #2fc1c9;
  font-weight: bold;
}
