* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b2027;
  padding: 2rem;
  color: #ecf0f1;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 94vw;
  max-width: 1100px;
  margin: auto;
}

.main-content {
  border: 1px solid #2fc1c9;
  height: 84vh;
  max-height: 94vh;
}

.about {
  padding: 0 15rem;
  line-height: 1.5rem;
}

.card {
  padding: 1rem;
  background-color: #ecf0f1;
  color: #000000;
  border-radius: 1rem;
}

.card img {
  height: 8rem;
  width: 8rem;
}

.card .title {
  margin: 0.2rem;
}
